{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["resources/**/*.{js,mjs,cjs,ts,jsx,tsx}"]
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
